
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/CSS/login.css">
    <script src="./script.js"></script>
    <link rel="icon" href="/img/vt.png" sizes="32x32">
    <title>Login</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
        </div>
    </nav>

    <div class="login-container">
        <form id="form-login">
            <div class="logo-container">
                <img src="/img/logo.png" alt="Logo Visiontec" class="logo-login">
            </div>
            <input type="email" id="email" name="email" required placeholder="E-mail">
            <input type="password" id="senha" name="senha" required placeholder="Senha">
            <button id="btnEntrar" type="submit">Entrar</button>

            <a href="cadastro.html" class="cadastro-link">Cadastre-se</a>
        </form>

        <div class="image-container">
            <img src="/img/fundo.jpeg" alt="Imagem de fundo" class="image-fundo">
        </div>
    </div>
</body>
</html>
